{% extends "base.html" %}
{% load static %}

{% block title %}Profile - {{profile.user.username}}{% endblock %}

{% block content %}
<div class="container">
    <div class="profile">
        <div class="user-info">
            <div class="display-pic text-center">
                {% if profile.display_picture.url is not none %}
                <img src="{{ profile.display_picture.url }}" alt="Display picture for {{ profile.user.username }}">
                {% else %}
                <img src="{% static '/icons/no-display-pic.svg' %}" alt="No image uploaded">
                {% endif %}
            </div>
            <h1>{{ profile.user.username }}</h1>
            <p>Member since {{ profile.user.date_joined|date:'M Y'}}</p>
            <p>{{ profile.user.destination_review_owner.count }} Destination Reviews Published</p>
            {{ profile.nationality|safe }}
            {{ profile.traveler_type|safe }}
            {% if profile.bio is not none %}
            {{ profile.bio|safe }}
            {% endif %}
        </div>
        <div class="profile-destinations">
            <h2 class="text-center">Latest Destination Reviews</h2>
            {% for destination in profile.user.destination_review_owner.all %}
            <a href="{% url 'destination_full_review' destination.id %}"><h3>{{ destination.title }}</h3></a>
            {{ destination.date_posted }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}