{% extends "base.html" %}
{% load static %}

{% block title %}Profile - {{profile.user.username}}{% endblock %}

{% block content %}
<div class="container">
    <div class="profile">
        <div class="user-info">
            <div class="display-pic text-center">
                {% if profile.display_picture.url is not none %}
                <img src="{{ profile.display_picture.url %}}" alt="Display picture for {{ profile.user.username }}">
                {% else %}
                <img src="{% static '/icons/no-display-pic.svg' %}" alt="No image uploaded">
                {% endif %}
            </div>
            <h1>{{ profile.user.username }}</h1>
            <p>Member since {{ profile.user.date_joined|date:'M Y'}}</p>
            {{ profile.nationality|safe }}
            {{ profile.traveler_type|safe }}
            {{ profile.bio|safe }}
        </div>
    </div>
</div>