{% extends "base.html" %}

{% block title %}Photography{% endblock %}

{% block content %}
<h1 class="text-center">Recent Photography Posts</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center pt-5 pb-5">
    {% for photography in photography_list %}
    <div class="card">
      <h2 class="card-title text-center p-3">{{photography.post_title}}</h2>
      <img src="{{photography.main_photo.url}}" class="img-fluid" alt="{{photography.main_photo_alt}}">
      <div class="text-center card-body">
        <h3 class="card-text p-2">{{photography.post_brief}}</h3>
        <a href="{% url 'photography_full_post' photography.id %}" class="btn btn-dark w-50 p-2 mb-3">View Post...</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}