@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Nunito:wght@300&family=Playfair+Display&display=swap');

:root {
    /** Fonts */
    --nav-font: 'Nunito', serif; 
    --heading-font: 'Playfair Display', serif; 
    --main-font: 'Dosis', serif; 

    /** Colours */
    --black: #000000; 
    --white: #ffffff;
    --grey: #495058;
    --blue: #007EA7;
}

html, body {
    height: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

body{
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/** Header */
a.nav-link {
    color: var(--black);
}

#logo-picture{
    width: 15rem; ;
}

/* Footer */
footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media {
    font-size: 120%;
    margin: 5px 30px;
    color: var(--black);
}

.social-media:hover {
    transition: 0.3s;
    color: var(--blue);
}