{% load static %}

<footer>
    <a href="https://facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook Page (Opens in a new tab)">
        <i class="fa-brands fa-facebook-f social-media"></i>
    </a>
    <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Visit our X page, formally Twitter (Opens in a new tab)">
        <i class="fa-brands fa-x-twitter social-media"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram Page (Opens in a new tab)">
        <i class="fa-brands fa-instagram social-media"></i>
    </a>
    <a href="https://www.pinterest.co.uk/" target="_blank" rel="noopener" aria-label="Visit our Pinterest Page (Opens in a new tab)">
        <i class="fa-brands fa-pinterest social-media"></i>
    </a>
</footer>