{% load static %}

<footer>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static '/icons/black-instagram-icon.svg' %}" alt="Instagram Icon" class="social-media-icon" >
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
        <img src="{% static '/icons/twitter-icon.svg' %}" alt="Twitter Icon" class="social-media-icon" >
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="YouTube - Opens in a new tab">
        <img src="{% static '/icons/youtube-icon.svg' %}" alt="YouTube Icon" class="social-media-icon" >
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Pinterest - Opens in a new tab">
        <img src="{% static '/icons/pinterest-round-icon.svg' %}" alt="Pinterest Icon" class="social-media-icon" >
    </a>
</footer>