{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
      <!-- Nav menu -->
      <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
          <div class="logo-picture">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'reviewsite' %}">
              <img src="{% static 'images/logo.png' %}" alt="Logo" width="250">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Nav Items -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'reviewsite' %}active{% endif %}" aria-current="page" href="{% url 'reviewsite' %}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'destinations' %}active{% endif %}" href="{% url 'destinations' %}">DESTINATIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'photography_list' %}active{% endif %}" href="{% url 'photography_list' %}">PHOTOGRAPHY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ADD NEW
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link {% if url_name == 'add_destination' %}active{% endif %}" href="{% url 'add_destination' %}">DESTINATION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if url_name == 'add_photography' %}active{% endif %}" href="{% url 'add_photography' %}">PHOTOGRAPHY</a>
                  </li>
                </ul>
              </li>
              <!-- Show Profile and Logout items if the user is logged in -->
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.username %}">PROFILE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">LOGOUT</a>
              </li>
              <!-- Show Login and Register items if the user is logged out -->
              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup">REGISTER</a>
              </li>
              {% endif %}
            </ul>
            <!-- Search bar to search for destination reviews -->
            <form class="d-flex" role="search" method="GET" action="{% url 'destinations' %}">
                <input class="form-control me-2" name="q" type="search" placeholder="Search a destination..." aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
              </form>
          </div>
        </div>
      </nav>
    {% endwith %}
</header>