{% extends "base.html" %}

{% block title %}Add Destination Review{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" enctype="multipart/form-data" class="form p-3">
        <h1 class="text-center">Add Destination Review</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button class="btn btn-dark w-50 p-2 mb-3" type="submit">Create Review!</button>
        </div>
    </form>
</div>

{% endblock %}