{% extends "base.html" %}

{% block title %}Full Review - {{destination.title}}{% endblock %}

{% block content %}

<div class="container">
    <div class="review-header">
        <h1 class="text-center">{{ destination.title }}</h1>
        <p class="text-center">Posted by {{ destination.user }} on {{ destination.date_posted }}</p>
    </div>
    <div class="review-photo text-center">
        <img src="{{ destination.photo.url }}" alt="{{ destination.photo_alt }}" class="review-pic">
    </div>
    <div class="review-entry text-center">
        {{ destination.review|safe }}
    </div>
    {% if request.user == destination.user %}
    <div class="text-center">
        <a href="{% url 'edit_destination' destination.id %}" class="btn btn-dark w-50 p-2 mb-3">Edit Review</a>
        <a href="{% url 'destination_delete' destination.id %}" class="btn btn-dark w-50 p-2 mb-3">Delete Review</a>
    </div>
    {% endif %}

</div>

{% endblock %}