{% extends "base.html" %}

{% block title %}Destinations{% endblock %}

{% block content %}
<h1 class="text-center">Recent Destination Reviews</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center pt-5 pb-5">
    {% for destination in destinations %}
    <div class="card">
      <h2 class="card-title text-center p-3">{{destination.title}}</h2>
      <img src="{{destination.photo.url}}" class="img-fluid" alt="{{destination.photo_alt}}">
      <div class="text-center card-body">
        <h3 class="card-text">{{destination.brief}}</h3>
        <p class="card-text">{{destination.review|truncatechars:100|safe}}</p>
        <a href="{% url 'destination_full_review' destination.id %}" class="btn btn-dark w-75 p-2 mb-3">Continue Reading...</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}