{% extends "base.html" %}

{% block title %}Destinations{% endblock %}

{% block content %}

<h1 class="text-center">Recent Destination Reviews</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for destination in destinations %}
    <a href="" class="destinations" aria-label="{{destination.title}} - Click to view">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{destination.image.url}}" class="img-fluid rounded-start" alt="{{destination.photo_alt}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{destination.title}}</h2>
                  <h3 class="card-text">{{destination.brief}}</h3>
                  <p class="card-text">{{destination.review|truncatechars:50}}</p>
                </div>
              </div>
            </div>
        </div>
    </a>
    {% endfor %}

</div>
{% endblock %}